[Unit]
Description=IP_Script

[Service]
Type=simple
User=root
ExecStart=/home/ubuntu/access.sh
Restart=on-failure
RestartSec=10
Type=notify


[Install]
WantedBy=multi-user.target

