[Unit]
Description=IP_Script

[Service]
ExecStart=/home/ubuntu/access.sh
Restart=on-failure
RestartSec=10
Type=notify


[Install]
WantedBy=multi-user.target

